<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JinZhongGuoAttack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{50,87}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{50,87}}</string>
                <key>sourceSize</key>
                <string>{60,97}</string>
            </dict>
            <key>JinZhongGuoAttack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,175},{50,75}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{50,75}}</string>
                <key>sourceSize</key>
                <string>{60,97}</string>
            </dict>
            <key>JinZhongGuoAttack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,173},{50,81}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{50,81}}</string>
                <key>sourceSize</key>
                <string>{60,97}</string>
            </dict>
            <key>JinZhongGuoAttack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,159},{44,85}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{44,85}}</string>
                <key>sourceSize</key>
                <string>{60,97}</string>
            </dict>
            <key>JinZhongGuoAttack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{60,71}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,97}</string>
            </dict>
            <key>JinZhongGuoAttack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{50,83}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,83}}</string>
                <key>sourceSize</key>
                <string>{60,97}</string>
            </dict>
            <key>JinZhongGuoAttack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,70},{50,87}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{50,87}}</string>
                <key>sourceSize</key>
                <string>{60,97}</string>
            </dict>
            <key>JinZhongGuoDown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,171},{48,82}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{48,82}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>JinZhongGuoInAir1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{46,82}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{46,82}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>JinZhongGuoInAir2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,75},{44,86}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{44,86}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>JinZhongGuoJump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,88},{40,86}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{40,86}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>JinZhongGuoJump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{64,66}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{64,66}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>JinZhongGuoJump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,87},{48,82}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{48,82}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>JinZhongGuoRoll1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,38},{72,48}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>JinZhongGuoRoll2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,176},{48,76}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,44},{48,76}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>JinZhongGuoRun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,158},{40,86}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{40,86}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>JinZhongGuoRun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{50,84}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{50,84}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>JinZhongGuoRun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,91},{58,80}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>JinZhongGuoRun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,91},{52,82}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{52,82}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>JinZhongGuoRun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,70},{44,86}}</string>
                <key>offset</key>
                <string>{-12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{44,86}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>JinZhongGuoRun6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{40,88}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{40,88}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>JinZhongGuoRun7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{40,86}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{40,86}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>JinZhongGuoRun8.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,163},{44,84}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JinZhongGuo.png</string>
            <key>size</key>
            <string>{408,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c5b3ac2489ccc7cba5597760bf1d942:1/1$</string>
            <key>textureFileName</key>
            <string>JinZhongGuo.png</string>
        </dict>
    </dict>
</plist>
